apiVersion: kubekey.kubesphere.io/v1alpha2
kind: Cluster
metadata:
  name: sample
spec:
  hosts:
  - {name: batsrv, address: 192.168.1.141, internalAddress: 192.168.1.141, user: kato, privateKeyPath: "/home/kato/.ssh/id_rsa"}
  - {name: worker1, address: 192.168.1.142, internalAddress: 192.168.1.142, user: kato, privateKeyPath: "/home/kato/.ssh/id_rsa"}
  - {name: worker2, address: 192.168.1.143, internalAddress: 192.168.1.143, user: kato, privateKeyPath: "/home/kato/.ssh/id_rsa"}
  - {name: worker3, address: 192.168.1.144, internalAddress: 192.168.1.144, user: kato, privateKeyPath: "/home/kato/.ssh/id_rsa"}
  - {name: worker4, address: 192.168.1.145, internalAddress: 192.168.1.145, user: kato, privateKeyPath: "/home/kato/.ssh/id_rsa"}
  roleGroups:
    etcd:
    - batsrv
    control-plane:
    - batsrv
    worker:
    - worker1
    - worker2
    - worker3
    - worker4
  controlPlaneEndpoint:
    domain: lb.kubesphere.local
    address: ""
    port: 6443
  kubernetes:
    version: v1.33.1
    clusterName: cluster.local
  network:
    plugin: calico
    kubePodsCIDR: 10.233.64.0/18
    kubeServiceCIDR: 10.233.0.0/18
  registry:
    privateRegistry: ""